/*
.suiteListItem div{
  display: inline-block;
  width: 40%;
}

.suiteListItem div.status {
  width:8%;
}

.caseverListItem div{
  display: inline-block;
  width: 13%;
}

.caseverListItem div.name{
  width:40%;
}
*/

td.priority, td.productversion, td.modified_on, td.id{
  font-size: 12px
}

th.thStatus{
  text-align: center
}


td.status{
  font-size: 17px;
  text-align: center
}

th.thSortable:hover{
    cursor: pointer;
}

div#react-paginator {
    text-align: center;
}

#searchInput {
    display:block;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    border-radius:4px;
}
