/*
.suiteListItem div{
  display: inline-block;
  width: 40%;
}

.suiteListItem div.status {
  width:8%;
}

.caseverListItem div{
  display: inline-block;
  width: 13%;
}

.caseverListItem div.name{
  width:40%;
}
*/
